#top {
    display: flex;
    justify-content: center;
    align-items: center; 
}
#main {
    display: flex;
    justify-content: center;
    align-items: center; }
#typingBox {
    width: 100%;
    width: 600px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;  
}
#telotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
#typing_complete_title {
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.typing_stats {
    padding: 20px;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#wpm-display {
    padding: 20px;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#test_begin {
    padding: 20px;
    font-size: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    background-color: rgb(27, 182, 130);
}